.btn {

    
    background: none;
    border: none;
    color: green;
    text-align: center;
    
    &:focus{ outline: 0 }
    

    &:hover {
        color: red;
    }
    
}

/* Botão verde*/
.buttonGreen {
    width: 100%;
    border-radius: 10px;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 7px;
    transition: all 0.2s;
    margin-top: 5px;
    border-bottom: 0px solid #eee;
    background: #82CA9D;
    font-size: 14px;

    &:focus{ outline: 0 }

    &:active{
        transform: scaleX(0.9) translateY(4px);
      }
      
      
        
      
            &:not(:active){
                border-bottom: 4px solid #62AA7D;
            
      }
      
    
  }