// importando as fontes para criar os botoes

@import "../autoloads/fontes";
@import "./colors";

.btn {

    padding: 10px;
    background: none;
    border: none;
    color: $corBtnRemover;
    text-align: center;
    margin-top: 10px;
    
    &:focus{ outline: 0 }
    

    &:hover {
        color: $corFundoContainer;
    }
    
}

/* Botão verde*/
.buttonGreen {
    width: 100%;
    border-radius: 5px;
    border: none;
    padding: 10px;
    color:$cortextoPrincipal;
    border-radius: 7px;
    transition: all 0.2s;
    margin-top: 10px;
    border-bottom: 0px solid #eee;
    background:$corBtnVerde;
    font-size: $sizeFontHeard;
    font-family: $fontFamilyBody;

    &:focus{ outline: 0 }

    &:active{
        transform: scaleX(0.9) translateY(4px);
      }
      
      
        
      
            &:not(:active){
                border-bottom: 4px solid #62AA7D;
            
      }
      
    
  }