/* Variaveis referentes as colores*/
$corBtnVerde:#82CA9D;
$corFundoContainer: purple;
$corContent: lightgrey;
$corTextoBody: Black;
$cortextoPrincipal: white;
$sombraTextoLogo:floralwhite;
$corTextoActive:darkgreen;
$corBtnRemover: red;
$mdQ1:red ;
$mdQ2:blue ;
$mdQ3:gray ;
$mdQ4:hotpink ;
$mdQ5:yellow ;