/* Variaveis referentes as colores*/
$corFundoDestaque: silver;
$corFundoTitulo: darkslategray;
$corFundoHeader: darkcyan;
$corTextoBody: Black;
$corTextoLogo: white;
$sombraTextoLogo:floralwhite;
$corTextoActive:darkgreen;
$corTeste: red;
$mdQ1:red ;
$mdQ2:blue ;
$mdQ3:gray ;
$mdQ4:hotpink ;
$mdQ5:yellow ;