@import "../autoloads/fontes";
@import "../components/colors";

.form{

  padding: 20px;

   .titleForm {
     font-family: $fontFamilyForm;
     text-align: center;
     font-size:$sizeFontLogo;

   }

   .labelForm {
     font-size: $sizeFontHeard;
   }
}