.container {
    display: flex;
    flex-flow: row wrap;
   }
   
   .content {
     box-sizing: border-box;
     width: 280px;
     padding: 8px ;
     border: 1px solid #ccc;
     box-shadow:0 2px 2px #aaa;
     margin: 10px;
   }