
     .textForm {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
     
        resize: vertical;
        margin-top: 5px;
        margin-bottom: 10px;
        text-align: center;
        font-size: $sizeFontBody;
        
        
        
     }
     /* removendo borda ao receber o foco*/
     textarea:focus, input:focus, select:focus {
        outline: 0;
    }