/*importando compontes scss*/
@import "../components/index";
/* Editando a tag body*/
body {
    width: auto;
    background-color: $corFundoDestaque;
    font-family: $fontFamilyBody;
    font-size: 14px;
    text-decoration-color: $corTextoBody;
    padding: 30px;
   
}