/*importando compontes scss*/
@import "../autoload/fontes";
@import "./colors";



    
    

      .tituloCard {
        text-align: center;
        color: #fff;
        background: $corFundoHeader;
        
        
    
     }